@import "/css/best-contnet.css";


.genreRecomBox {
    width: 694px;
    height: 539px;

}

.title__main {

    padding: 10px;
    font-weight: bold;
}

.font-green {
    color: green;
}

.tab__gr {

    width: 100%;
}

.tab__gr__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


.view__type {

    display: flex;
    justify-content: end;
    margin: 12px 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.bar__ {
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #ced2d6;
    margin: 2px 0 0 15px;
}

.view__type span {
    margin-left: 10px;
}

.contents__contents {
    width: 900px;
}

.contents__contents::after {
    content: "";
    display: block;
    clear: both;
}


.mask__info {
    margin-right: 50px;
    width: 210px;
}

.mask {
    display: block;

    width: 218px;
    height: 120px;
}

.contents__contents__wrap {
    float: left;
    height: 196px;
    margin-bottom: 15px;
    padding: 10px;
}

.mask__info__text {
    margin-top: 12px;
    font-size: 14px;
}

.mask__info__text h6 span {
    font-size: 18px;
    font-weight: bold;
}

.mask__info__text a,
.mask__info__text p {
    color: rgba(0, 0, 0, 0.7);
    padding: 5px;
} 